@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if(Model.MyUser != null)
    {
        <h1 class="display-4">Welcome @Model.MyUser.NickName</h1>        
    }
    else
    {
        <h1 class="display-4">Välkommen! Börja med att <a href="Identity/Account/Register">registrera dig!</a></h1>
    }
</div>
