@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <div class="row col-md-7 py-5">
        <h2>@ViewData["Title"]</h2>
        <p>
            Vår webbsida använder sig, som de flesta andra webbsidor, av cookies för att ge dig bästa möjliga användarupplevelse. Cookies är små textfiler som läggs på din dator eller mobiltelefon när du använder vår webbsida.<br />
            <br />
            <strong>Våra cookies hjälper oss att:</strong><br />
            - Göra att webbsidan fungerar som du förväntar dig.<br />
            - Sparar dina inställningar från ena besöket till nästa.<br />
            - Förbättra din laddningstid och säkerhet när du använder webbsidan.<br />
            - Möjliggöra att du enkelt kan sprida innehåll vidare i sociala nätverk såsom Facebook och Twitter.<br />
            - Ge dig relevant information på vår egen och andras webbsidor.<br />
            - Samla in anonym statistik i syfte att förbättra webbsidans prestanda och funktionalitet samt utvärdera och förbättra marknadsföringsinsatser.<br />
            <br />
            <strong>Vi använder inte cookies till att:</strong><br />
            - Spara någon som helst personlig information om dig utan ditt samtycke.<br />
            - Samla in någon som helst känslig information.<br />
            - Skicka vidare personlig information till tredje part.<br />
            <br />
            <strong>Tillåtelse att använda cookies</strong><br />
            Om inställningarna i den webbläsare du använder för att besöka vår webbsida är inställd på ett sådant sätt att de tillåter cookies tolkar vi detta som att du accepterar cookies på vår webbsida.<br />
            <br />
            <strong>Stänga av cookies</strong><br />
            Cookies går att radera eller helt stängas av om så önskas. Vi kan dock inte garantera att webbsidan då fungerar tillfredsställande. Dessa kan stängas av genom att anpassa din webbläsares säkerhetsinställningar. Hur detta görs varierar något mellan olika webbläsare och versioner av webbläsare men finns beskrivet om du söker i din specifika webbläsares hjälpsida.<br />
            <br />
            Ytterligare information om cookies finns på Post- och telestyrelsens <a href="https://www.pts.se/sv/bransch/regler/lagar/lag-om-elektronisk-kommunikation/kakor-cookies/">webbsida</a>.
        </p>
    </div>
</div>
